@page "/Prestamo/Delete/{PrestamoId:int}"
@rendermode InteractiveServer
@inject PrestamoServices prestamoService

<PageTitle>Eliminar Prestamo</PageTitle>

<div class="container">
    <div class="row mb-3">
        <div class="card-header text-center">
            <h5 class="card-header">Eliminar prestamo</h5>
        </div>
        <div class="card-header text-center">
            <h5 class="card-header">¿Est&aacute;s seguro que deseas eliminar este prestamo?</h5>
        </div>
        <div class="container">
            <div class="card-header">
                <div class="col md-6">
                    <div class="card-body">
                        <div class="card-header text-center">
                            <h5 class="card-header">Datos del Prestamo</h5>
                        </div>
                        <ul class="list-unstyled">
                            <li class="">PrestamoId:<strong>@prestamo.PrestamoId</strong></li>
                            <li class="">Deudor:<strong>@prestamo.Deudor</strong></li>
                            <li class="">Concepto:<strong>@prestamo.Concepto</strong></li>
                            <li class="">Monto:<strong>@prestamo.Monto</strong></li>
                        </ul>

                    </div>
                    <div class="card-body text-center">
                        <a @onclick="EliminarPrestamo" class="btn btn-primary"><span class="bi bi-trash"></span>Eliminar</a>
                        <a href="/Prestamo/Index" class="btn btn-primary"><span class="bi bi-arrow-left mt-3"></span>Volver</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

    @if (Creo)
    {
        <div class="alert alert-danger text-center" role="alert">
            El Prestamo se a Eliminado con exito.
            pulse el boton volver para retornar a la consulta.
        </div>
    }

</div>

@code {
    [Parameter]
    public int PrestamoId { get; set; }
    public Prestamo? prestamo { get; set; } = new Prestamo();
    private bool Creo;

    protected override async Task OnInitializedAsync()
    {
        if (prestamo != null)
        {
            prestamo = await prestamoService.Buscar(PrestamoId);
        }
    }

    public async Task EliminarPrestamo()
    {
        if (PrestamoId == 0 || prestamo == null)
        {
            return;
        }
        if (await prestamoService.Eliminar(PrestamoId))
        {
            Creo = true;
        }
    }


}