@page "/Prestamo/Index"
@using RalfyGenao_Ap1_P1.Models
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject PrestamoServices prestamoServices

<PageTitle></PageTitle>
<div class="Prestamo">
    <div class="card shadow-lg text-center">
        <div class="card-header text-center">
            <h5 class="card-header ">Prestamo</h5>
        </div>
        </div>
    <div class="card-body text-center">
        <div class="col-md-15 text-end">
            <a href="/Prestamo/Create" class="btn btn-primary" type="button">

                <span class="bi bi-plus-square-fill mt-3"></span> Crear
            </a>

                <table class="table table-light table-bordered">
                    <thead class="table table-striped  text-center">
                        <tr>
                            <th>PrestamoId </th>
                            <th>Deudor</th>
                            <th>Concepto</th>
                            <th>Monto</th>

                            <th>Ver</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Prestamo in Listaprestamo)
                        {
                            <tr>
                                <td class="text-center">@Prestamo.PrestamoId</td>
                                <td class="text-center">@Prestamo.Deudor</td>
                                <td class="text-center">@Prestamo.Concepto</td>
                                <td class="text-center">@Prestamo.Monto</td>

                                <td class="text-center">
                                    <a href="/Prestamo/Edit/@Prestamo.PrestamoId" class="btn bi bi-pencil-square"></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Prestamo/Delete/@Prestamo.PrestamoId" class="btn bi bi-trash"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>


<div class="card-footer">
    <p> Toatal:@Listaprestamo.Count</p>
</div>
@code {
    public List<Prestamo> Listaprestamo { get; set; } = new List<Prestamo>();

    protected override async Task OnInitializedAsync()
    {
        Listaprestamo = await prestamoServices.Listar(prestamo => true);
    }
}

